{% load static %}
{% url 'courses:cours' as cours_url %}
{% url 'contribution:acceuil' as contribution_url %}



<head>
  <meta charset="utf-8">
  <title>Africa for ever</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
   <!-- {% static 'images/{{ image.title }}.png' %}-->
  <!-- Favicons -->
  <link href="{% static 'img/icone site.png' %}" rel="icon">
  <link href="{% static 'img/icone site.png' %}" rel="apple-touch-icon">
     <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:koudanbe@gmail.com">koudanbe@gmail.com</a>
        <i class="fa fa-phone"></i> +237 679641675
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>

      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
    <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">KOU<span>DANBE</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Acceuil</a></li>
          <li><a href="#about">A propos de nous</a></li>
          <li><a href="#services">Nos Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
         <!--  <li><a href="#team">l'équipe</a></li>-->
          <li><a href="#contact">Contact</a></li>
            <!-- <li><a href="{{cours_url}}">Cours</a></li>-->
            <li><a href="{{contribution_url}}">Contribuer</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


</head>


